.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    background-color: var(--black-custom-color);
    color: var(--white-custom-color);
    padding: 20px;
}

.technologies h2 {
    margin: 3rem;
    font-size: 3rem;
    color: var(--white-custom-color);
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    width: 80%;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tech-item:hover {
    transform: translateY(-10px);
    background-color: var(--corVioleta);
}

.tech-item img {
    height: 96px;
}

.tech-item p {
    margin-top: 10px;
    font-size: 1.2rem;
}
